.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.remove__btn {
  background: #91c788;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 8px;
  color: white;
  border-radius: 5px;
}

.remove__btn:hover {
  background-color: #328527;
  cursor: pointer;
}

.checkoutProduct__image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17x;
  font-weight: 800;
}
